<ion-header>
    <ion-navbar>
        <ion-title>
           {{ 'DISCOVERY.TITLE' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>

<ion-card>
    <ion-slides pager>
        <ion-slide *ngFor="let slide of slides">
            <img [src]="slide.image" class="slide-image" />
            <!-- <h2 class="slide-title" [innerHTML]="slide.title"></h2> -->
            <!-- <p [innerHTML]="slide.description"></p> -->
        </ion-slide>
    </ion-slides>
</ion-card>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-chip>
                    <ion-label>Default</ion-label>
                </ion-chip>

                <ion-chip>
                    <ion-label color="secondary">Secondary Label</ion-label>
                </ion-chip>

                <ion-chip color="secondary">
                    <ion-label color="dark">Secondary w/ Dark label</ion-label>
                </ion-chip>

                <ion-chip color="danger">
                    <ion-label>Danger</ion-label>
                </ion-chip>

                <ion-chip>
                    <ion-icon name="pin"></ion-icon>
                    <ion-label>Default</ion-label>
                </ion-chip>

                <ion-chip>
                    <ion-icon name="heart" color="dark"></ion-icon>
                    <ion-label>Default</ion-label>
                </ion-chip>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-card *ngFor="let discovery of discoveries">
        <ion-item>
            <ion-avatar item-left>
                <img src="assets/img/marty-avatar.png">
            </ion-avatar>
            <h2>Marty McFly</h2>
            <p>November 5, 1955</p>
        </ion-item>
       
        <ion-card-content>
            <img [src]="discovery.image" />
            <ion-card-title>
                {{discovery.title}}
            </ion-card-title>
            <p>
                {{discovery.description}}
            </p>
        </ion-card-content>
        <ion-item>
            <ion-icon name='musical-notes' item-left style="color: #d03e84"></ion-icon>
            Albums
            <ion-badge item-right>9</ion-badge>
        </ion-item>
        <ion-row baseline>
            <ion-col>
                <button ion-button clear small  icon-right>
                    <ion-icon name='md-eye'></ion-icon>
                    {{discovery.viewed}}
                </button>
                <button ion-button clear small  icon-right>
                    <ion-icon name='md-thumbs-up'></ion-icon>
                    {{discovery.like}}
                </button>
                <button ion-button clear small  icon-right>
                    <ion-icon name='md-chatboxes'></ion-icon>
                    {{discovery.comments}}
                </button>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>
