<ion-header>
    <ion-navbar>
        <ion-toolbar color="primary">
            <ion-searchbar placeholder="{{'COMMON.SEARCH' | translate}} "></ion-searchbar>
        </ion-toolbar>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-slides pager>
            <ion-slide *ngFor="let activity of activities">
                <ion-row>
                    <ion-col col-6>
                        <ion-card class="muses-activity-card">
                            <ion-item>
                                <button clear icon-only ion-button small item-right>
                                    <ion-icon name="md-close"></ion-icon>
                                </button>
                            </ion-item>
                            <ion-card-content>
                                <ion-avatar class="muses-avatar">
                                    <img src="assets/img/nin-live.png" height="80" width="80">
                                </ion-avatar>
                                <ion-card-title text-center>
                                    {{activity.title}}
                                </ion-card-title>
                                <div text-center>{{activity.author.name}} 7天之后</div>
                                <button ion-button block outline small> {{'HOME.VIEW_ACTIVITY' | translate}}</button>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col col-6>
                        <ion-card class="muses-activity-card">
                            <ion-item>
                                <button clear icon-only ion-button small item-right>
                                    <ion-icon name="md-close"></ion-icon>
                                </button>
                            </ion-item>
                            <ion-card-content>
                                <ion-avatar class="muses-avatar">
                                    <img src="assets/img/nin-live.png" height="80" width="80">
                                </ion-avatar>
                                <ion-card-title text-center>
                                    {{activity.title}}
                                </ion-card-title>
                                <div text-center>{{activity.author.name}} 7天之后</div>
                                <button ion-button block outline small> {{'HOME.VIEW_ACTIVITY' | translate}}</button>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-slide>
        </ion-slides>
    </ion-card>
    <ion-card *ngFor="let feed of feeds">
        <ion-item>
            <ion-avatar item-left>
                <img src="{{feed.source.avatar}}">
            </ion-avatar>
            <p>{{'HOME.FROM_TOPIC' | translate}} : {{feed.source.title}}</p>
            <!-- <p><a><b>{{feed.author.name}}</b></a> , {{feed.author.bio}}</p> -->
        </ion-item>
        <ion-card-content>
            <ion-card-title>
                {{feed.title}}
            </ion-card-title>
            <!-- <img src="assets/img/nin-live.png" /> -->
            <p>{{feed.content}}</p>
        </ion-card-content>
        <ion-row no-padding>
            <ion-col>
                <button ion-button icon-left clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Likes</div>
                </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-left clear small>
                    <ion-icon name="text"></ion-icon>
                    <div>4 Comments</div>
                </button>
            </ion-col>
            <ion-col center text-center>
                <ion-note>
                    11h ago
                </ion-note>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-fab right bottom #fabContainer>
        <button ion-fab color="secondary">
            <ion-icon name="md-create"></ion-icon>
        </button>
        <ion-fab-list side="top">
            <button ion-fab color="light" (click)="openSocial('images', fabContainer)">
                <ion-icon name="md-images"></ion-icon>
            </button>
            <button ion-fab color="light" (click)="openSocial('articles', fabContainer)">
                <ion-icon name="md-list-box"></ion-icon>
            </button>
            <button ion-fab color="light" (click)="openSocial('help', fabContainer)">
                <ion-icon name="md-help-circle"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
