// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.




ion-card img {
    display: block;
    margin: auto;
}

ion-card canvas {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 100% !important;
    height: inherit !important;
    border: 0
}

.card-title-md {
    font-size: 1.6rem;
    font-weight: bold;
}

.muses-avatar img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.muses-activity-card {
    margin: 0px 5px 10px 5px;
    width: calc(100% - 10px);
    height: 100%;
}